.row-header{
  margin: 0px auto;
  padding: 0px auto;
}

.row-content{
  margin: 0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px;
}

.jumbotron{
  padding: 70px 30px 70px 30px!important;
  margin: 0px auto;
  background-color: #9575CD!important;
  color: floralwhite!important;
  border: 2px
}

.footer{
  background-color: #D1C4E9;
  margin: 0px auto;
  padding: 20px 0px 20px 0px;
}

.address{
  font-size: 80%;
  margin:0px;
  color: black;
}
